<div class="h-full w-full overflow-auto">
  <div class="flex justify-end mb-4">
    <p-button
      label="Novo Usuário"
      icon="pi pi-plus"
      (click)="openNew()"
      styleClass="p-button-success"
    ></p-button>
  </div>

  <div class="w-full overflow-auto">
    <p-table
      [value]="usuarios"
      dataKey="id"
      class="mt-3 shadow-lg rounded-lg w-full"
      [loading]="carregando"
    >
      <ng-template pTemplate="header">
        <tr class="bg-gray-100">
          <th
            *ngFor="let col of columns"
            class="text-left p-3 font-semibold uppercase text-sm"
          >
            {{ col.header }}
          </th>
          <th class="text-left p-3 font-semibold uppercase text-sm">Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-usuario>
        <tr>
          <td *ngFor="let item of columns" class="p-3">
            <ng-container [ngSwitch]="item.field">
              <span *ngSwitchCase="'criadoDataHora'">{{
                usuario[item.field] | date : "short"
              }}</span>
              <span *ngSwitchDefault>{{ usuario[item.field] }}</span>
            </ng-container>
          </td>
          <td class="p-3 flex gap-2">
            <p-button
              icon="pi pi-pencil"
              (click)="editUsuario(usuario)"
              styleClass="p-button-rounded p-button-info p-button-sm"
            ></p-button>
            <p-button
              icon="pi pi-trash"
              (click)="deleteUsuario(usuario)"
              styleClass="p-button-rounded p-button-danger p-button-sm"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  [(visible)]="usuarioDialog"
  [modal]="true"
  [header]="usuarioDialogTitle"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  class="rounded-lg shadow-lg"
>
  <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()" class="space-y-6">
    <div class="grid grid-cols-1 gap-4">
      <div class="flex flex-col md:col-span-2">
        @for (item of fields; track $index) {
        <label [attr.for]="item.name" class="mb-1 font-medium"
          >{{ item.label }}
        </label>
        <div class="flex flex-col">
          @switch (item.controlType) { @case ('text') {
          <input
            pInputText
            [formControlName]="item.name"
            [id]="item.name"
            [type]="'text'"
            class="p-inputtext p-component rounded-md focus:ring-2 focus:ring-blue-500"
          />
          } @case ('select') {
            <p-dropdown
              [formControlName]="item.name"
              [id]="item.name"
              [options]="item.options"
              optionLabel="key"
              optionValue="value"
              class="w-full"
            ></p-dropdown>
          } }
        </div>
        }
      </div>
    </div>

    <p-footer class="flex justify-end gap-2 mt-4">
      <button
        type="submit"
        pButton
        label="{{ usuarioDialogTitle }}"
        icon="pi pi-check"
        class="p-button-success hover:scale-105 transition-transform"
      ></button>
      <button
        type="button"
        pButton
        label="Cancelar"
        icon="pi pi-times"
        (click)="closeDialog()"
        class="p-button-secondary hover:scale-105 transition-transform"
      ></button>
    </p-footer>
  </form>
</p-dialog>
