<div class="sidebar">
  <img src="assets/logo.png" alt="Logo" class="logo" />
  <div class="titulo">
    <h2>PATAS</h2>
    <p>SOLIDARIAS</p>
  </div>
  <nav class="menu-icons">
    <button class="icon" [routerLink]="['/home']" routerLinkActive="active"><i class="fa fa-home"></i></button>
    <button class="icon" [routerLink]="['/video']" routerLinkActive="active"><i class="fa fa-video"></i></button>
    <button class="icon" [routerLink]="['/search']" routerLinkActive="active"><i class="fa fa-search"></i></button>
    <button class="icon" [routerLink]="['/add']" routerLinkActive="active"><i class="fa fa-plus-square"></i></button>
  </nav>
  <div class="user">
    <div class="avatar" [routerLink]="['/pessoa-crud']"><i class="fa fa-user"></i></div>
    <span>Nome do usuario</span>
  </div>
</div>
