<!-- Mini menu fixo no topo (apenas mobile) -->
<div class="md:hidden fixed top-0 left-0 z-50 flex h-full w-full items-center justify-between bg-white px-4 shadow">
  <button (click)="sidebarAberta = !sidebarAberta">
    <i class="fa fa-bars text-2xl text-[#0e6958]"></i>
  </button>

  <a routerLink="/home" (click)="closeSidebarOnNavigate()">
    <img src="assets/logo.png" alt="Logo" class="w-[45px] mb-2.5" />
  </a>
</div>

<!-- Sidebar -->
<aside class="fixed top-0 left-0 z-40 flex h-full w-[200px] flex-col items-center
         px-6 py-5 shadow-[10px_0_10px_rgba(0,0,0,0.5)] transition-transform duration-300
         md:static md:translate-x-0" [class.-translate-x-full]="!sidebarAberta" [class.translate-x-0]="sidebarAberta">
  <!-- Logo -->
  <a routerLink="/home" (click)="closeSidebarOnNavigate()">
    <img src="assets/logo.png" alt="Logo" class="mb-2.5 w-[150px]" />
  </a>

  <!-- Título -->
  <div class="mb-10 text-center font-mono leading-[25px] text-[#007040]">
    <h2 class="text-[4ch]">PATAS</h2>
    <p class="text-[2ch]">SOLIDÁRIAS</p>
  </div>

  <!-- Menu -->
  <nav class="mb-auto flex flex-col gap-[30px]">
    <a routerLink="/home" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="menu-ativo"
      [ngClass]="{ 'menu-ativo': ativo === 'home' }" (click)="setAbaAtiva('home'); closeSidebarOnNavigate()" class="icon">
      <i class="fa fa-home text-[25px]"></i>
    </a>

    <!-- Video -->
    <!-- <a routerLink="/video" routerLinkActive="menu-ativo" [ngClass]="{ 'menu-ativo': ativo === 'video' }"
      (click)="setAbaAtiva('video'); closeSidebarOnNavigate()" class="icon">
      <i class="fa fa-video text-[25px]"></i>
    </a> -->

    <!-- Busca -->
    <app-sidebar-search [ativo]="ativo === 'search'"
      (ativarBusca)="setAbaAtiva('search')"
      (fecharBusca)="setAbaAtiva('')"
    ></app-sidebar-search>

    <!-- adicionar -->
    @if (usuarioAtivo) {}
    <button *ngIf="usuarioAtivo?.usuarioTipoId !== EUsuarioTipo.Doador" routerLink="/add" routerLinkAcFtive="menu-ativo" [ngClass]="{ 'menu-ativo': ativo === 'add' }"
      (click)="setAbaAtiva('add'); closeSidebarOnNavigate()" class="icon">
      <i class="fa fa-plus-square text-[30px]"></i>
    </button>
  </nav>

  <div class="mb-5 flex flex-col items-center">
    <a routerLink="/usuario" (click)="closeSidebarOnNavigate()"
      class="mb-1 flex h-[50px] w-[50px] items-center justify-center rounded-full border-2 border-[#d6eee7] font-mono text-[#0e6958]">
      @switch (usuarioAtivo?.usuarioTipoId) {
        @case (EUsuarioTipo.Doador) {
          <i title="Usuário {{usuarioAtivo?.nome}}" class="fa fa-user"></i>
        }
        @case (EUsuarioTipo.EmpresaParceira) {
          <i title="Empresa parceira {{usuarioAtivo?.nome}}" class="fa fa-industry"></i>
        }
        @case (EUsuarioTipo.Ong) {
          <i title="ONG {{usuarioAtivo?.nome}}" class="fa fa-paw"></i>
        }
      }
    </a>
    <span class="w-[90px] text-center font-mono text-[2ch]">{{usuarioAtivo?.nome}}</span>
  </div>
</aside>
