<div class="sidebar">
  <img src="assets/logo.png" alt="Logo" class="logo" />
  <div class="titulo">
    <h2>PATAS</h2>
    <p>SOLIDARIAS</p>
  </div>
  <nav class="menu-icons">
    <!-- HOME -->
    <button class="icon" [ngClass]="{ 'active': ativo === 'home' }" (click)="setAtivo('home')" [routerLink]="['/home']">
      <i class="fa fa-home"></i>
    </button>

    <!-- VIDEO -->
    <button class="icon" [ngClass]="{ 'active': ativo === 'video' }" (click)="setAtivo('video')"
      [routerLink]="['/video']">
      <i class="fa fa-video"></i>
    </button>

    <!-- BUSCA (componente) -->
    <app-sidebar-search [ativo]="ativo === 'busca'" (ativarBusca)="setAtivo('busca')">
    </app-sidebar-search>

    <!-- ADD -->
    <button class="icon" [ngClass]="{ 'active': ativo === 'add' }" (click)="setAtivo('add')">
      <i class="fa fa-plus-square"></i>
    </button>
<!-- 
    <button class="icon" routerLinkActive="active"><i class="fa fa-plus-square"></i></button> -->
  </nav>
  <div class="user">
    <div class="avatar" [routerLink]="['/usuario']"><i class="fa fa-user"></i></div>
    <span>Fazer login</span>
  </div>
</div>


<!-- components de adicionar postagem e busca -->